body {
    background: black;
    margin: 0;
    padding: 0;
}

#console {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    color: #f4f4f4;
    padding: 10px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    overflow: auto;
}

#paste {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    bottom: 10px;
    width: 100%;
}

#paste textarea {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 60px;
    margin: 0;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
}

#paste input {
    position: absolute;
    bottom: 30px;
    right: 10px;
    margin: 0;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    width: 80px;
    background: #79e7ff;
    border-radius: 4px;
    border: 1px solid #448290;
    cursor: pointer;
    outline: none;
}

#paste input.cancel {
    right: 100px;
    background: #ffb3b7;
    border: 1px solid #90505a;
}

#console > div {
    height: 21px;
}

#console .text {
    display: inline-block;
}

#console div.recent {
    color: #b3b3b3;
}

#console div.active {
    color: #ffffff;
}

#console div.input {
    border-left: 1px dotted gray;
    padding-left: 3px;
}

#console div.input.first {
    border-left: 1px solid black;
}

#console div.input.active .character.active {
    background: #ffffff;
    color: #222222;
}

#console div.error {
    color: #ff5a5a;
}

#console div.output {
    color: #c4e9ff;
}

#console div.output:before, #console div.error:before {
    content: '> ';
}

#console .caret {
    display: inline-block;
    background: #ffffff;
}

#console .placeholder {
    display: inline-block;
    width: 0;
}